doctype html
head
    meta(charset='UTF-8')
    title ziftrCOIN - Explorer
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/testcoin.css')
body
    .container
        .row
            .col-sm-12
                .page-header
                    img#ziftrCOIN(src='/images/ziftrCOIN_coin.png')
                    h1
                        | ziftrCOIN Explorer
                        small 
                            | testnet
                    if success
                        .alert.alert-success(role='alert') #{success}
                    if wallet.balance < 10
                        .alert.alert-warning(role='alert') Please, we are running out of ziftrCOINS. Please make a small donation <3
                    if alert
                        .alert.alert-danger(role='alert') #{alert}
                    .jumbotron
                        p
                            strong Balance:
                            span 
                            | #{wallet.balance} ZRC
                        p
                            strong We will give you:
                            span 
                            | #{donate} ZRC
                        p
                            strong Donations: 
                            span
                            | mmTPFJRbGGQST2GKLY7GAcKMoGjXo6WJtd
                        form(method='post', action='/testnet')
                            .input-group.input-group-lg
                                span.input-group-btn
                                    button.btn.btn-default(type='submit') Send
                                input.form-control(type='text', name='address', placeholder='Address')
        p
            | Powered by 
            a(href='http://zrcexplorer.com') ZRCExplorer
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-63171445-1', 'auto');
        ga('send', 'pageview');