extends layout
block content
    .row
        .col-sm-12
            .page-header
                img#ziftrCOIN(src='/images/ziftrCOIN_coin.png')
                h1
                    | ziftrCOIN Explorer
    .row
        .col-md-8
            h1 Search
        .col-md-4
            .row
                .col-md-12 Blocks: #{info.blocks}
            .row
                .col-md-12 Difficulty: #{info.difficulty}
            .row
                - hashps = info.networkhashps / 1000000
                .col-md-12 Network hashrate: #{hashps} MH/s
    .row
        .col-md-12
            table.table
                thead
                    tr
                        th Height
                        th Hash
                        th Difficulty
                        th Time
                        th Size
                tbody
                each block in blockTable
                    tr
                        td
                            a(href='/block/#{block.hash}') #{block.height}
                        td
                            a(href='/block/#{block.hash}') #{block.hash}
                        td #{block.difficulty}
                        td #{block.time}
                        td #{block.size}
        nav
            ul.pager
                if previous
                    li.previous
                        a(href='/weight/#{previous}')
                            span(aria-hidden='true') ←
                            |  Older
                if next
                    li.next
                        a(href='/weight/#{next}')
                            | Newer 
                            span(aria-hidden='true') →